<div id="j-posts-list">
  {{#foreach posts}}
    <div class="j-post {{post_class}}">
      <div class="post-image">
        {{#if feature_image}}
          <a href="{{url absolute="true"}}"><img src="{{img_url feature_image}}"></a>
        {{/if}}
      </div>
     
        <div class="post-header">
           <a href="{{url absolute="true"}}">{{title}}</a>
        </div>
      <div class="post-exceprt">
        <p>{{excerpt words="30"}} ...</p>
      </div>
      <div class="post-meta">
        {{#primary_author}}
          {{#if profile_image}}
            <div class="profile-image">
              <img src="{{img_url profile_image}}">
            </div>
          {{/if}}
          <div>
            <div class="author-name">
              <a href="{{url}}">{{name}}</a>
            </div>
            {{/primary_author}}
            <div class="post-tags">
              {{tags}}
            </div>
            {{!-- Need to exit authoer scope to display tags --}}
          </div> 
      </div>   
    </div>
    <div class="j-postbreak"></div>
   
  {{/foreach}}
</div>